.clients {
  width: 100%;
  min-height: var(--page-height);
  height: var(--page-height);
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.head {
  flex-shrink: 0;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card {
  background-color: white;
  height: fit-content;
}
