.app {
  width: 100%;
  min-height: var(--page-height);
  height: var(--page-height);
  padding: 20px;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: row;
  gap: 40px;
}