@import "./styles/fonts.css";

:root {
  --font-family-primary: 'Lufga', sans-serif;
  --blue-100: #E6F9FD;
  --blue-200: #AED6FF;
  --blue-300: #73AEFC;
  --blue-400: #4D87F9;
  --blue-500: #2563EB;

  --cian: #4AC3DB;
  --gray: #4B4B4B;

  --background-primary: #EAEDF0;
  --background-secondary: #E9E9E9;
  --body-scale: 0.8;
  --page-height: calc(100vh / var(--body-scale));
  --page-width: calc(100vw / var(--body-scale));
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  zoom: var(--body-scale);
  overflow: auto;
  background-color: var(--background-primary);
}

#root {
  width: var(--page-width);
  min-height: var(--page-height);
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
