@import "./styles/fonts.css";

:root {
  	--font-family-primary: 'Lufga', sans-serif;
    --blue-100: #E6F9FD;
    --blue-200: #AED6FF;
    --blue-300: #73AEFC;
    --blue-400: #4D87F9;
    --blue-500: #2563EB;

    --cian: #4AC3DB;

    --gray: #4B4B4B;

    --background-primary: #EAEDF0;
    --background-secondary: #E9E9E9;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
}
